@model IEnumerable<TaskManager.Models.GroupsModel>

@{
    ViewData["Title"] = "AddTaskToGroup";
}

<div class="btn-group">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">

        <table class="table">
            <thead>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:50%">
                            @Html.DisplayFor(modelItem => item.NameOfGroup)
                        </td>
                        <td style="width:50%">
                            <form asp-controller="Groups" asp-action="AddToGroup" method="post">
                                <div class="form-group">
                                <input type="submit" action="AddToGroup" value="Dodaj" class="btn btn-primary" />
                            </div>

                            </form>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}