@model IEnumerable<TaskManager.Models.GroupsModel>

@{
    ViewData["Title"] = "AddTaskToGroup";
}

<div class="btn-group">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">

        @using (Html.BeginForm())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NameOfGroup)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.GroupID)
                                @Html.DisplayFor(modelItem => item.NameOfGroup)
                                <div style="float:right">
                                    <form asp-controller="Groups" asp-action="AddTaskToGroup">
                                        <a style="float:right">
                                            @Html.ActionLink("Dodaj", "AddTaskToGroup", "Groups", new { groupId = item.GroupID }, new { @class = "btn btn-primary" })
                                        </a>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <input type="submit" value="Zatawierdź" class="btn btn-success" />
        <a class="btn btn-dark" asp-action="Index">Wróć do listy grup</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}