@model TaskManager.Models.GroupsModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń Grupę</h1>

<h3>Jesteś pewny że chcesz usunąć grupę?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfGroup)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GroupID" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
