@model IEnumerable<TaskManager.Models.GroupsModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Lista grup</h1>


<div class="btn-group">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameOfGroup)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:auto">
                            @Html.DisplayFor(modelItem => item.NameOfGroup)
                        </td>
                        <td style="float:left">
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.GroupID }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.GroupID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

