@model IEnumerable<TaskManager.Models.GroupsModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Lista grup</h1>


<div class="shadow-lg p-3 mb-5 bg-white rounded" style="width:40%">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameOfGroup)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfGroup)
                        <div style="float:right">
                            <a style="float:right">
                                @Html.ActionLink("Edytuj", "Edit", new { id = item.GroupID }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Usuń", "Delete", new { id = item.GroupID }, new { @class = "btn btn-danger" })
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
